<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
<div class="container-fluid">
<img src="logo.png" alt="logo" class="logo">
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-link" href="/listings"><b>Explore</b></a>
  </div>

<div class="search-bar-container offset-1">
  <div class="search-bar">
    <div class="search-section">
      <label>Where</label>
      <span>Search destinations</span>
    </div>

    <div class="search-section">
      <label>Check in</label>
      <span>Add dates</span>
    </div>

    <div class="search-section">
      <label>Check out</label>
      <span>Add dates</span>
    </div>

    <div class="search-section guest-section">
      <div class="guest-info">
        <label>Who</label>
        <span>Add guests</span>
      </div>
      <button class="search-button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    
  </div>
</div>

<div class="navbar-nav ms-auto">
  <a class="nav-link" href="/listings/new"><b>Become a host</b></a>
    <% if(! currUser){ %>
      <a class="nav-link"  href="/signup"><b><i class="fa-solid fa-user-plus"></i></b></a>
      <a class="nav-link" href="/login"><b><i class="fa-solid fa-right-to-bracket"></i></b></a>
    <% } %>
    <% if(currUser){ %>
        <a class="nav-link" href="/logout"><b>Log Out</b></a>
    <% } %>
  </div>

</div>
</div>
</nav>